
# LaTeX related files
**.aux
**.dvi
**.log
**.pdf
**.ps
**.nav
**.toc
graph.tex
# Build and doc directories
debug/
release/
_build/
plugins/*/doc

# Binaries
*.debug
*.release

*~

# Compilation byproducts
*.cmi
*.cmo
*.cmx
*.cmxs
*.o
*.a
.depend

# Misc
*.cfg
oUnit*
ide.docdir
love

# Vim
**.swp
